div.browse-cat {
    padding: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

div.browse-cat h3 {
    color: #5452ee;
    margin-bottom: 15px;
    padding: 0px 0px 15px;
}

div.browse-cat .browse-head {
    text-align: center;
}

div.browse-cat .browse-head h3 {
    color: #5452ee;
    margin-bottom: 0px;
    padding: 0px 0px 15px;
}

div.browse-cat .browse-head p {
    font-size: 14px;
}

div.browse-cat .browse-card {
    text-align: center;
    flex-direction: row;
    align-items: center;
    border-color: rgb(228, 230, 231);
    border-radius: 5px;
}

div.browse-cat .browse-card i {
    font-size: 24px;
    padding-left: 15px;
    color: #5452ee;
}

div.browse-cat .browse-card .browse-title {
    color: #5452ee;
    font-size: 18px;
}

div.browse-cat .browse-card .browse-text {
    font-size: 14px;
    color: rgb(177, 175, 175);
}

div.browse-cat .browse-body {
    padding-left: 0px;
}