div.header {
    position: relative;
    background-image: url('./../../Const/Cover.jpg');
    z-index: -1;
}

div.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #5452ee, #5452ee);
    opacity: 0.8;
    z-index: -1;
}